

<div class="container mt-4">
<div class="row">
  <div class="col-md-4">
    <div class="card">

      <!-- Card image -->
      <img class="card-img-top" src="{{user.photoUrl || ' ../../../../../assets/img/original.png'}}" alt="{{user.username}}">
    
      <!-- Card content -->
      <div class="card-body">

        <h3 class="card-title text-center">{{user.username}} - {{user.age}} Years</h3> 
        <!-- Text -->
        <strong style="font-size: large;">Location</strong>
        <p class="card-text" style="font-size: 20px;">City : {{user.city}} - Country : {{user.country}} </p>

        <strong style="font-size: large;">Last active</strong>
        <p class="car-text"><strong>{{user.lastActive |   date:'fullDate'}}</strong></p>
        <strong style="font-size: large;">Member since</strong>
        <div >{{user.created}}</div>
      </div>
      <button type="button" class="btn btn-danger btn-sm">Like</button>
      <button type="button" class="btn btn-default btn-sm">Message</button>
    </div>
    <!-- Card -->
  </div>
  <div class="col-md-8">
    <!-- Classic tabs -->
<div class="classic-tabs">

  <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link  waves-light active show" id="profile-tab-classic" data-toggle="tab" href="#profile-classic"
        role="tab" aria-controls="profile-classic" aria-selected="true">About {{user?.knownAs}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="follow-tab-classic" data-toggle="tab" href="#follow-classic" role="tab"
        aria-controls="follow-classic" aria-selected="false">Interests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="contact-tab-classic" data-toggle="tab" href="#contact-classic" role="tab"
        aria-controls="contact-classic" aria-selected="false">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" id="awesome-tab-classic" data-toggle="tab" href="#awesome-classic" role="tab"
        aria-controls="awesome-classic" aria-selected="false">Message</a>
    </li>
  </ul>
  <div class="tab-content border-right border-bottom border-left rounded-bottom" id="myClassicTabContent">
    <div class="tab-pane fade active show" id="profile-classic" role="tabpanel" aria-labelledby="profile-tab-classic">
      <h4>Description :</h4>
      <p>{{user.introduction}}</p>
      <h4>Looking for :</h4>
      <p>{{user.lookingFor}}</p>
    </div>
    <div class="tab-pane fade" id="follow-classic" role="tabpanel" aria-labelledby="follow-tab-classic">
      <h4>Interests :</h4>
      <p>{{user.interests}}</p>
    </div>
<!--Carousel Wrapper-->
<div class="tab-pane fade"   id="contact-classic" role="tabpanel" aria-labelledby="contact-tab-classic">
<!--Carousel Wrapper-->
<mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <mdb-carousel-item *ngFor="let c of images">
      <img class="d-block w-100" [src]="c" [alt]="c.caption">
  </mdb-carousel-item>
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
<!--/.Carousel Wrapper-->

    <!-- <div class="tab-pane fade" id="contact-classic" role="tabpanel" aria-labelledby="contact-tab-classic">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{{user.photoUrl}}" style="max-width: 80%;"
        alt="First slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div> -->

    <div class="tab-pane fade" id="awesome-classic" role="tabpanel" aria-labelledby="awesome-tab-classic">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>

</div>
<!-- Classic tabs -->
  </div>
</div>
</div>
