<nav class="navbar navbar-expand-lg navbar-dark  light-blue darken-4">
  <a class="navbar-brand" href="#">Dating App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Mactchs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>

    
    <!-- Basic dropdown -->

<div class="row ml-auto dropdown" *ngIf="loggedIn()">
 <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">Welcome User</button>

<div class="dropdown-menu">
<a class="dropdown-item" href="#"><i class="fa fa-user"></i> profile</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item"  (click)="loggedOut()"><i class="fa fa-user"></i>Logout</a>
</div>
</div>
<!-- Basic dropdown -->
    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0 ml-auto" (ngSubmit)="login()">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="User name" name="username" 
         aria-label="username" rerquired [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="text" placeholder="Password" name="password"  
        aria-label="password" required  [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-default btn-md" >Login</button>
      </div>
    </form>
  </div>
</nav>
