/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Reem Kufi",sans-serif;
    font-weight: 300;
}

.md-form textarea.md-textarea {
    padding: 2.5rem 0;
    overflow-y: hidden;
}

.carousel .carousel-indicators li {
    width: 100%!important;
    height: 100%!important;
    border-radius: 50%;
    cursor: pointer;
}

.nv-file-over {
    border: dotted 1px black;
}

input[type=file] {
    color: transparent;
}